* {
    padding: 0%;
    margin: 0%;
}

:root {
    --primary-color: #003b6d;
    --secondary-color: #6699cc;
}

section {
    overflow: scroll;
}

.logo {
    height: 60px;
    width: 160px;
}

.header-btn1 {
    background-color: var(--primary-color) !important;
    color: white !important;
    border: 1px solid var(--primary-color);
}

.header-btn {
    border: 1px solid var(--primary-color);
}

.header-btn:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.primary-bgcolor {
    background-color: var(--primary-color) !important;
}

.secondary-bgcolor {
    background-color: var(--secondary-color) !important;
}

.custom-justification {
    text-align: justify;
}

.btn-bottom,.search{
    height: 38px;
    width: 190px;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}
.icon-btn{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    position: relative;
    left: -20px;
}
.search{
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
.btn-bottom:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
}

.one {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--secondary-color);
}
.one:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.custom-card:hover{
    background-color: var(--primary-color);
    color: white;
}

.custom-card-d{
    color: var(--secondary-color);
}
.custom-card-d:hover{
    background-color: var(--secondary-color);
    color: white;
}

.left-side-image{
    background-image: url("./images/request.png"); /* The image used */
    background-color: #003B6D;
    /* height: 500px; You must set a specified height */
    /* width: 600px; */
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    background-size:contain; /* Resize the background image to cover the entire container */
}

.span-icon{ 
    background-color: white;
    border: none;
    box-shadow: -2px 2px 5px #ccc;
    position: relative;
    left: 5px;
    z-index: 92;
}

.input-icon{
    border: none;
    background-color: white;
    box-shadow: 2px 2px 5px #ccc;
}